.line{
	stroke: grey;
	stroke-opacity: 0.75;
	stroke-width: 0.3px;
}

.line.axis{
	stroke-width: 1px;
}

.legend{
	font-family: sans-serif;
	font-size: 11px;
}

.tooltip{
	font-family: sans-serif;
	font-size: 13px;
	z-index: 999;
}

.area{
	stroke-width: 2px;
	color: rgb(31, 119, 180);
	stroke: rgb(31, 119, 180);
	fill: rgb(31, 119, 180);

	fill-opacity: 0.5;
}

.nodes{
	fill: rgb(31, 119, 180);
	fill-opacity: 0.9;
}